# Configurações do Banco de Dados Render
DB_ENGINE=django.db.backends.postgresql
DB_NAME=alta_db_prod_2
DB_USER=alta_db_prod_2_user
DB_PASSWORD=3rp700XExUxgrfqCIPgvChVMOwWUyQUB
DB_HOST=dpg-d088hrfdiees7391qrc0-a.oregon-postgres.render.com
DB_PORT=5432

# Configurações do Banco de Dados Local (para desenvolvimento)
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=altalocal
# DB_USER=postgres
# DB_PASSWORD=Pzq@515027
# DB_HOST=localhost
# DB_PORT=5432

# Outras configurações
DJANGO_SECRET_KEY=default-secret-key
OPENAI_API_KEY=
EMAIL_HOST_USER=ricardo.pasqualino@gmail.com
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=ricardo.pasqualino@gmail.com
RENDER_EXTERNAL_URL=alta-env.onrender.com 