{% extends 'base_clean.html' %}

{% load static %}


{% block main %}
  <main>
    <div class="container">
      <section class="section register d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column  justify-content-center">

              <div class="card">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center fs-4">Acessar a sua conta</h5>
                    <p class="text-center small">Entre com o seu usuário e senha</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate method="POST" action="{% url 'login_view' %}">

                    {% csrf_token %}

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Usuário</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback" {{ form.username }} >Insira o seu usuário.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Senha</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback" {{ form.password }}>Insira a sua senha</div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Entrar</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Você não tem uma conta? <a href="{% url 'new_register' %}">Criar uma conta!</a></p>
                      <p class="small mb-0">Você não tem uma conta? <a href="{% url 'password_reset' %}">Recuperar sua senha</a></p>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>
{% endblock %}
