{% extends 'base_clean.html' %}

{% load static %}

{% block main %}
<main>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title text-center pb-0 fs-4 mb-3">Redefinir Senha</h2>
        <form method="post">
            {% csrf_token %}
            <label class="mt-3">Nova senha:</label>
            <input class="form-control" type="password" name="new_password1" required>

            <label class="mt-3">Confirmação da nova senha:</label>
            <input class="form-control" type="password" name="new_password2" required>

            {% if form.errors %}
            <ul class="errorlist">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}

            <p class="help-text mt-3"><strong>A senha deve atender os seguintes critérios:</strong></p>
            <ul class="help-text">
                <li><small>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</small></li>
                <li><small>Sua senha precisa conter pelo menos 8 caracteres.</small></li>
                <li><small>Sua senha não pode ser uma senha comumente utilizada.</small></li>
                <li><small>Sua senha não pode ser inteiramente numérica.</small></li>
            </ul>

            <button type="submit" class="btn btn-primary w-100">Alterar senha</button>
        </form>
    </div>
  </div>
</main>
{% endblock %}
