{% extends 'base_clean.html' %}

{% load static %}

{% block main %}
<main>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title text-center pb-0 fs-4 mb-3">Recuperar senha</h5>
      <p class="text-center">Insira o seu e-mail abaixo para receber o link de recuperação de senha.</p>

      <div class="container">

        <form method="post">
          {% csrf_token %}

          <div class="input-group mb-2">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="email" inputmode="numeric" class="form-control" aria-label="Username" aria-describedby="basic-addon1" required="required"
            {{ form.email }}
          </div>

          <button class="btn btn-primary w-100" type="submit">Enviar email de recuperação</button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
