<!DOCTYPE html>
<html lang="pt-br">
  
{% load static %}

{% block main %}

<head>

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Faça o seu cadastro</title>
  <meta content="Faça o seu cadastro na maior plataforma de B.I. para postos de gasolina no Brasil." name="description">
  <meta content="Posto, gasolina, preço, etanol, alcool, diesel, BI, business, negocios" name="keywords">

</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="d-flex justify-content-center py-4">
                <a href="" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'assets/img/logo.png'%}" alt="Alta BI">
                  <span class="d-none d-lg-block">Alta</span>
                </a>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Crie sua conta! É grátis!</h5>
                  </div>

                  <form class="row g-3 needs-validation" action="{% url 'new_register' %}" method="POST">

                    {% csrf_token %}

                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1">Nome</span>
                      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" 
                      oninput="this.value = this.value.replace(/[^A-Za-z\s]/g, '');"
                      placeholder="Inclua o seu nome" required="required" maxlength="20"
                      {{ form.first_name }} </>
                      <div class="input-group">
                        {{ form.first_name.errors }}
                      </div>
                    </div>

                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1">Sobrenome</span>
                      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" 
                      oninput="this.value = this.value.replace(/[^A-Za-z\s]/g, '');"
                      placeholder="Inclua o seu nome" required="required" maxlength="20"
                      {{ form.last_name }} </>
                      <div class="input-group">
                        {{ form.last_name.errors }}
                      </div>
                    </div>

                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1">E-mail Corporativo:</span>
                      <input type="email" class="form-control" aria-label="email" aria-describedby="basic-addon1" 
                      placeholder="inclua o seu e-mail corporativo" required="required" maxlength="60"
                      {{ form.email }} </>
                      <div class="input-group">
                        {{ form.email.errors }}
                      </div>

                    </div>
                      
                      <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">DDD + Telefone</span>
                        <input type="tel" inputmode="numeric" class="form-control" aria-label="Username" aria-describedby="basic-addon1" 
                        placeholder="Inclua o seu DDD + telefone" required="required" maxlength="13"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');"
                        {{ form.telefone }} </>
                        <div class="input-group">
                          {{ form.telefone.errors }}
                        </div>
                      </div>

                      <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Empresa</span>
                        <input type="text" inputmode="numeric" class="form-control" aria-label="Username" aria-describedby="basic-addon1" 
                        placeholder="Inclua o nome da sua empresa" required="required" maxlength="20"
                        {{ form.posto }} </>
                        <div class="input-group">
                          {{ form.profile.posto.errors }}
                        </div>
                      </div>

                      <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">Cargo</span>
                        <input type="text" inputmode="numeric" class="form-control" aria-label="Username" aria-describedby="basic-addon1" 
                        placeholder="Inclua o seu cargo" required="required" maxlength="30"
                        {{ form.cargo }} </>
                        <div class="input-group">
                          {{ form.cargo.errors }}
                        </div>
                      </div>


                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1">Usuário</span>
                      <input type="text" inputmode="numeric" class="form-control" aria-label="Username" aria-describedby="basic-addon1" 
                      placeholder="Inclua o seu usuário até 10 caracteres" required="required" maxlength="10"
                      {{ form.username }} </>
                      <div class="input-group">
                        {{ form.username.errors }}
                      </div>
                    </div>

                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1">Digite a senha</span>
                      <input type="password" inputmode="numeric" class="form-control" aria-label="Username" aria-describedby="basic-addon1" 
                      placeholder="Inclua a sua senha" required="required" maxlength="10"
                      {{ form.password1 }} </>
                      <div class="input-group">
                        {{ form.password1.errors }}
                      </div>
                    </div>

                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1">Repita a senha</span>
                      <input type="password" inputmode="numeric" class="form-control" aria-label="Username" aria-describedby="basic-addon1" 
                      placeholder="Inclua a sua senha" required="required" maxlength="10"
                      {{ form.password2 }} </>
                      <div class="input-group">
                        {{ form.password2.errors }}
                      </div>
                    </div>
                    
                    <div class="input-group">
                      <ul class="help-text">
                          <small class="text-danger ">{{ form.password2.errors }}</small>
                      </ul>
                    </div>
      <div class="input-group">
        <ul class="help-text">
          <small class="text-danger">{{ form.errors }}</small>
        </ul>
      </div>
                    
      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Criar conta Agora!</button>
      </div> 

    </form>
  </div>
</div>

</div>
</div>
</div>

</section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>

{% endblock %}